.root {
  flex: 1;
  overflow: auto;
  height: 50vh;
}

.rootFull {
  height: 100vh;
}

.row {
  height: 60px !important;
}

.text {
  font-size: 16;
  padding: 10px 0;
}

.emulatorsContainer {
  padding: 20px 20px 90px 20px;
}

.logsContainer {
  height: 50vh;
  top: auto !important;
  bottom: 0 !important;
  background-color: transparent !important;
}

.logs {
}
